# Archivos del sistema
.DS_Store
Thumbs.db

# --- Backend (Django) ---

# Entorno virtual
/backend/env/
/backend/venv/

# Base de datos local
/backend/db.sqlite3

# Archivos de caché de Python
/backend/__pycache__/
*.pyc

# Archivos de configuración de IDE
.idea/
.vscode/

# --- Frontend (Next.js) ---

# Archivos de dependencias
/frontend/node_modules/

# Archivos de build y caché de Next.js
/frontend/.next/
/frontend/out/

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Variables de entorno locales (¡nunca subir!)
/frontend/.env.local
/frontend/.env*.local
